<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="graphExplorer" type="Orc.GraphExplorer.GraphExplorerSection, Orc.GraphExplorer, Version=1.0.0.0, Culture=neutral" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <graphExplorer defaultGraphDataService="Csv">
    <csvGraphDataServiceConfig vertexesFilePath="Data\Properties.csv" edgesFilePath="Data\Relationships.csv" enableCache="False"/>
  </graphExplorer>
</configuration>